*{
    color: red;
}

h1 {
    color: fuchsia;
    background-color:gray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 600;

}

h2{
    color: red;
    font-size: 30px;
    background-color: gray ;
}

h3 {
    background-color: gray;
    color: yellow;
}

.subtitle {
    color: blueviolet;
    font-family: lucida sans;
}

#Macarrão{
    background-color: aqua;
}